:root {

  --first-color: #C9DFF2;
  --second-color: #038C65;
  --third-color: #038C4C; 
  --fourth-color: #1E593E;; 
  --fifth-color:  #F2BF5E;; 

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--first-color);
  background-color: var(--fourth-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  color: var(--first-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.favButton{
  background-color: rgba(136, 136, 136, 0.116);
  padding: 10px;
  border: none;
  width: 100%;
  cursor: pointer;
}

h1{
  text-align: center;
}

nav{
  background-color: var(--second-color);
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}

a{
  color: var(--first-color);
  text-decoration: none;
  margin: 5px;
  cursor: pointer;
}
a:hover{
  color: rgb(136, 136, 136);
} 

footer {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  position: relative;
  bottom: 0;
  width: 90%;
  height: 40px;
  margin-top: 2rem;
}

footer > img{
  width: 200px;
  margin: 0;
}
footer > p{
  margin: 0;
  padding-top: 0.7rem;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 300px;
  height: 100px;
  margin: 0 auto;
  color: var(--fourth-color);
}



table {
 border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    display: table;
    border: 1px solid #ccc;

}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.dark{
  background-color: #12121296;
  color: var(--first-color);
}
.dark > a {
  color: var(--first-color);
}

/* ---- GRID HOME CARDS ----*/
div.grid{
  display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 90vw;
    height: auto;
}

.dentCard:hover{
  border: 0.5px solid rgb(206, 217, 142);
}

div.dentCard{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  box-shadow: 5px 5px 7px 5px ;
  border: 0.5px solid --fifth-color;
  border-radius: 20px;
  padding: 0.5rem 0.5rem 0 0.5rem;
  position: relative;
  width: 200px;  
}
div.dentCard img{
  border-radius: 50%;
  width:100%
}

/* --- GRID CARD SELECTED--*/
div.detailEach{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  box-shadow: 3px 3px 5px 3px ;
  background-color: var(--first-color);
  color: var(--second-color);
  border: 0.5px solid --first-color;
  border-radius: 20px;
  margin: 0px 150px 0px 150px;
}
div.detailsDent img{
  width:25%;
  background-size: cover;
  border: 0.5px solid --fourth-color;
  border-radius: 20px;
}